body {
    min-width: 357px;
    overflow-x: hidden;
}

img {
    margin: 5px;
    border: 2px solid black;
    vertical-align: middle;
    width: 75px;
    height: 75px;
}

a {
    background: #c40000;
    color: white;
    text-decoration: none
}
iframe{
  background: #ffe5e5;
  color: white;
  text-decoration: none;
}
